[ui-sref],
[ng-click]{
  cursor: pointer;
}

body.modal-open {
  padding-right:15px !important;
}

a[disabled] {
  pointer-events: none;
}

.c-iframe-header {
    // position: fixed;
    width: 100%;
    margin-top: -20px;
    
    & iframe {
        border-top: none;
    }
}

.home__jumbotron {
  .jumbotron__title {
    font-size: 36px;
  }
  .lead {
    text-transform: uppercase;
    font-style: italic;
    font-weight: normal;
  }
}

.panel-variant(@border; @heading-text-color; @heading-bg-color; @heading-border) {
  border-color: @border;

  & > .panel-heading {
    color: @heading-text-color;
    background-color: @heading-bg-color;
    border-color: @heading-border;

    + .panel-collapse > .panel-body {
      border-top-color: @border;
    }
    .badge {
      color: @heading-bg-color;
      background-color: @heading-text-color;
    }
  }
  & > .panel-footer {
    + .panel-collapse > .panel-body {
      border-bottom-color: @border;
    }
  }
}

.home__jumbotron {
  background-color: transparent;
}

.home__panel {
  border-width: 10px;
  border-radius: 0;
  .panel-title {
    text-transform: uppercase;
  }
}

@aac-red: #ef3e44;
.panel--red {
  .panel-variant(@aac-red; @aac-red; #ffffff; transparent);
  p {
    color: @aac-yellow;
  }
}

@aac-yellow: #f69f1a;
.panel--yellow {
  .panel-variant(@aac-yellow; @aac-yellow; #ffffff; transparent);
  p {
    color: @aac-yellow;
  }
}

ordercloud-product-search {
  display: block;
  margin-bottom: @grid-gutter-width;
}

.anchor__img {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; // IE11 image height hack
  // https://github.com/philipwalton/flexbugs/issues/75
  min-height: 1%;
  justify-content: center;
  img {
    max-width: 100%;
    filter: grayscale(1);
  }
  &:hover {
    img {
      filter: grayscale(0);
    }
  }
}

.tags {
  line-height: 175%;
  margin-bottom: @grid-gutter-width;
}

.tags--inline {
  .tags__tag {
    margin-right: 10px;
  }
}

.tags__tag {
  color: #20B2AA;
}

.btn--tile {
  padding: @grid-gutter-width*.75;
  white-space: normal;
  border-radius: @border-radius-large;
}

.home__well {
  background-color: transparent;
  box-shadow: none;
  border-color: #20B2AA;
}