[ui-sref],
[ng-click]{
  cursor: pointer;
}

body.modal-open {
  padding-right:15px !important;
}

a[disabled] {
  pointer-events: none;
}

.c-iframe-header {
    position: fixed;
    width: 100%;
    margin-top: -20px;
    
    & iframe {
        border-top: none;
    }
}
  