<article class="home">
    <div class="jumbotron text-center home__jumbotron">
        <h1 class="jumbotron__title">Welcome to the AdoptAClassroom.org Marketplace!</h1>
        <p class="lead">Two ways to shop, one cart, one checkout.</p>
    </div>
    <div class="row row-flex">
        <div class="col-sm-6 end">
            <img class="home__arrow-icon rotate-45" src="/assets/images/Red-arrow.png" />
        </div>
        <div class="col-sm-6 start">
            <img class="home__arrow-icon rotate-315" src="/assets/images/Orange-arrow.png" />
        </div>
    </div>
    <div class="row row-flex-sm">
        <div class="col-sm-6">
            <div class="panel panel-default text-center row-flex-inner home__panel panel--red">
                <div class="panel-heading">
                    <h2 class="panel-title">AdoptAClassroom.org Store</h2>
                </div>
                <div class="panel-body">
                    <ordercloud-product-search></ordercloud-product-search>
                    <div class="tags tags--inline">
                        <span class="tags__tag" ng-repeat="vendor in home.vendors">{{vendor.Name}}</span>
                    </div>
                    <div class="row row-flex-sm">
                        <div class="col-sm-4">
                            <a class="btn btn-primary btn-block btn-lg btn--tile row-flex-inner" ui-sref="shopBy({type:'category'})" >Shop by Category</a>
                        </div>
                        <div class="col-sm-4">
                            <a class="btn btn-primary btn-block btn-lg btn--tile row-flex-inner" ui-sref="shopBy({type:'vendor'})">Shop by Vendor</a>
                        </div>
                        <div class="col-sm-4">
                            <a class="btn btn-primary btn-block btn-lg btn--tile row-flex-inner" ui-sref="productBrowse.products">Shop all Products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default text-center row-flex-inner home__panel panel--yellow">
                <div class="panel-heading">
                    <h2 class="panel-title">Affiliated Vendors</h2>
                </div>
                <div class="panel-body">
                    <p class="lead">Shop with our affiliated vendors by clicking links below, and add items to your AdoptAClassroom.org Cart.</p>
                    <div class="row row-flex-sm">
                        <div class="col-sm-4">
                            <a class="anchor__img" ng-click="home.toPunchOut('TopStores_BestBuy')">
                                <img src="/assets/images/bestbuy-logo.jpg" />
                                <span class="sr-only">Best Buy</span>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a class="anchor__img" ng-click="home.toPunchOut('TopStores_Kaplan')">
                                <img src="/assets/images/kaplan-logo.jpg" />
                                <span class="sr-only">Kaplan</span>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a class="anchor__img" ng-click="home.toPunchOut('TopStores_OfficeDepot')">
                                <img src="/assets/images/officedepot-logo.jpg" />
                                <span class="sr-only">Office Depot</span>
                            </a>
                        </div>
                    </div>
                    <div class="row row-flex-sm">
                        <div class="col-sm-4">
                            <a class="anchor__img" ng-click="home.toPunchOut('TopStores_ReallyGoodStuff')">
                                <img src="/assets/images/reallygoodstuff-logo.jpg" />
                                <span class="sr-only">Really Good Stuff</span>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a class="anchor__img" ng-click="home.toPunchOut('TopStores_SchoolSpecialty')">
                                <img src="/assets/images/schoolspecialty-logo.jpg" />
                                <span class="sr-only">School Specialty</span>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a class="anchor__img" ng-click="home.toPunchOut('TopStores_FreyScientific')">
                                <img src="/assets/images/freyscientific-logo.jpg" />
                                <span class="sr-only">School Specialty Frey Scientific</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-flex">
        <div class="col-sm-6 end">
            <img class="home__arrow-icon" src="/assets/images/Red-arrow.png" />
        </div>
        <div class="col-sm-6 start">
            <img class="home__arrow-icon" src="/assets/images/Orange-arrow.png" />
        </div>
    </div>
    <div class="well home__well text-center">
        <h2><img class="home__basket-icon"src="/assets/images/basket.svg" />Consolidated checkout – all in one cart</h2>
    </div>
</article>