<div ng-form="OC_Checkout_Shipping" ng-init="checkoutShipping.initShippingRates(base.currentOrder)">
    <div class="row">
        <div class="col-md-8">
            <div cg-busy="{promise:checkoutShipping.shippersLoading, message:'Loading Shipping Rates'}">
               <!--  <a href="" class="pull-right" ng-click="checkoutShipping.createAddress(base.currentOrder)"><i class="fa fa-plus-circle"></i> New Address</a>  -->
               <div class="panel panel-default"> 
	               	<div class="panel-heading">
			            <h4 class="panel-title">
			            	Delivery Address
			            </h4>
	                </div>
				</div>
				
				
                <div class="panel panel-default" ng-if="checkout.shippingAddress">
                    <div class="panel-body">
             <!--   <div class="pull-right">
                    		<a href="" ng-click="checkoutShipping.changeShippingAddress(base.currentOrder)">Change</a>  
                     </div>-->
                        <p ng-bind-html="checkout.shippingAddress | address:'full'"></p>
                    </div>
                </div>
            
                <div class="well text-center" ng-if="!checkout.shippingAddress">
                    You currently do not have a shipping address selected. <br />
                    <a href="" ng-click="checkoutShipping.changeShippingAddress(base.currentOrder)">Select one now</a>
                </div>
                <div ng-if="checkoutShipping.shippingRates.length">
                    <hr>
                    <h4>Shipping Method</h4>
                    <form name="OCShippingRates">
                        <fieldset class="form-group" ng-repeat="shipment in checkoutShipping.shippingRates">
                            <label for="{{'Shipper' + $index}}" ng-if="checkoutShipping.shippingRates.length > 1">Shipment {{$index + 1}} ({{shipment.LineItemIDs.length}} Line Items)</label>
                            <select id="{{'Shipper' + $index}}" class="form-control"
                                    ng-model="shipment.SelectedShipper"
                                    ng-options="shipper as (shipper.Description + ' (' + (shipper.Price | currency) + ')') for shipper in shipment.Rates"
                                    ng-change="checkoutShipping.shipperSelected(base.currentOrder)"
                                    required>
                            </select>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" hl-sticky anchor="top" offset-top="70" media-query="min-width: 992px">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Order Summary
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                    	<b>
	                        <ng-pluralize count="base.currentOrder.LineItemCount" when="{
								'1': 'Checking Out With 1 Item',
								'other': 'Checking Out With {} Items'
							}"></ng-pluralize>
						</b>
                    </p>
                    <hr>
                    <h5>Subtotal: All Orders <span class="pull-right">{{base.currentOrder.Subtotal | currency}}</span></h5>
                    <h5>Shipping: <span class="pull-right">{{base.currentOrder.ShippingCost | currency}}</span></h5>
                    <h5>Processing Fee: <span class="pull-right">{{base.currentOrder.TaxCost | currency}}</span></h5>
         <!--       <h5 ng-if="myOrderDetail.order.TaxCost">Processing Fee: <span class="pull-right"> {{myOrderDetail.order.TaxCost | currency}}</span></h5> -->
         <!--       <h5 ng-if="base.currentOrder.ShippingCost" class="text-muted">Estimated Shipping: <span class="pull-right"> + {{base.currentOrder.ShippingCost | currency}}</span></h5>  -->
                    <hr ng-if="checkout.promotions.length">
                    <h5 ng-repeat="promotion in checkout.promotions" class="text-danger">
                        {{promotion.Code}}
                        <a href="" ng-click="checkout.removePromotion(base.currentOrder, promotion)">remove</a>
                        <span class="pull-right">- {{promotion.Amount | currency}}</span></h5>
                    <hr>
                    <h4>Estimated Total: <b class="pull-right text-primary">{{base.currentOrder.Total | currency}}</b></h4>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary form-control" ng-disabled="!checkout.shippingAddress || checkoutShipping.shippersAreLoading || OC_Checkout_Shipping.$invalid" ui-sref="checkout.payment">Next</button>
                </div>
            </div>
        </div>
        
        <div class="row" ng-if="cart.lineItems.Items.length">
		<aside class="col-md-8 col-md-pull-4">
             <div class="panel panel-default"> 
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Items in Your Cart
                    </h3>
                </div>
              
        <form name="OrderLineItemForm" class="panel panel-default" ng-repeat="lineItem in cart.lineItems.Items track by $index" cg-busy="cart.lineLoading[$index]" style="margin-left: 1.5px; margin-right: 1.5px" >
              		<div class="panel panel-default" > 
			                <div class="panel-heading">
				                <h4 class="panel-title">
									{{lineItem.vendorName}} :: Order #
				               	</h4>
			               	</div>
	               	</div>
					<div class="row  hidden-xs c-line-item__header">
						 <div class="col-xs-3 col-sm-2"></div>
								 <div class="col-xs-9 col-sm-10">
									 <div class="row">
										 <div class="col-sm-5 col-lg-6"><h6>Description</h6></div>
											 <div class="col-sm-7 col-lg-6">
												 <div class="row">
													 <div class="col-xs-3"><h6 class="text-right">Price</h6></div>
													 <div class="col-xs-4"><h6 class="text-center">Qty</h6></div>
													 <div class="col-xs-3"><h6 class="text-right">Total</h6></div>
													 <div class="col-xs-2"></div>
												 </div>
											 </div>
									 </div>
								 </div>
						<div class="col-xs-12">
							 <hr>
						 </div><hr>
					</div>
	
		<div class="row c-line-item" ng-repeat="lineItem in cart.lineItems.Items track by $index" cg-busy="cart.lineLoading[$index]" style="margin-left: 1.5px; margin-right: 1.5px" >
				 <div class="col-xs-3 col-sm-2">
					 <div class="thumbnail c-line-item__img">
						 <img class="img-responsive" ng-src="{{lineItem.xp.image.URL || 'http://placehold.it/100x100?text=' + lineItem.Product.Name}}"
							alt="{{lineItem.Product.xp.image.Name || 'Product Image'}}">
					 </div>
				 </div>
				 <div class="col-xs-9 col-sm-10">
					 <div class="row c-line-item__info c-line-item--centered">
							 <div class="col-sm-5 col-lg-6 c-line-item__info--top">
									 <h4 class="c-line-item__name">
									 {{lineItem.Product.Name}}
									 </h4>
									<small class="text-muted c-line-item__id">{{lineItem.Product.Description}}</small>
									 <ul class="c-line-item__spec-list" ng-if="lineItem.Specs.length > 0">
										 <li class="c-line-item__spec" ng-repeat="spec in lineItem.Specs">
											 <small>{{spec.Name}}:</small>
											 <small>{{spec.Value}}</small>
										 </li>
									 </ul>
							 </div>
							 <div class="col-sm-7 col-lg-6 c-line-item__info--bottom">
								 <div class="row  c-line-item--centered">
									 <div class="col-xs-3">
										<h4 class="c-line-item__price text-right">{{lineItem.UnitPrice | currency}}</h4>
									 </div>
									 <div class="col-xs-4">
										 <div class="c-line-item__qty-input">
											<oc-quantity-input lineitem="lineItem" order="base.currentOrder"></oc-quantity-input>
										 </div>
									 </div>
									 <div class="col-xs-3">
										<h4 class="c-line-item__total text-right">{{lineItem.LineTotal | currency}}</h4>
									 </div>
									 <div class="col-xs-2">
										 <div class="c-line-item__remove text-right">
											<button class="btn btn-xs btn-danger" type="button" ng-click="cart.removeItem(base.currentOrder, this)"><span class=""><i class="fa fa-close"></i></span></button>
										 </div>
									 </div>
								 </div>
							 </div>
						</div>
					</div>
				 <div class="col-xs-12">
				 <hr>
				 </div>
				<br> 
           </div>
			    <div class="row text-right">
	 					<h4>Subtotal:<span style="margin-left: 150px; margin-right:50px">{{base.currentOrder.Subtotal | currency}}</span></h4>
	 					<h4>Total - Order #<span style="margin-left: 150px; margin-right:50px">{{order.ID}}</span></h4>
				</div>
					<br>
       		</form>
		</aside>	
	</div>
        
    </div>
</div>

