<div ng-form="OC_Checkout_Payment" novalidate>
    <div class="row">
        <div class="col-md-8">
            <div>
                <h4>Payment</h4>
                <oc-payments order="base.currentOrder"></oc-payments>
            </div>
            <hr>
            <a href="" class="pull-right" ng-click="checkoutPayment.createAddress(base.currentOrder)"><i class="fa fa-plus-circle"></i> Create Address</a>
            <h4>Billing Address</h4>
            <div class="well text-center" ng-if="!checkout.billingAddress">
                You currently do not have a billing address selected. <br />
                <a href="" ng-click="checkoutPayment.changeBillingAddress(base.currentOrder)">Select one now</a>
            </div>
            <div class="panel panel-default" ng-if="checkout.billingAddress">
                <div class="panel-body">
                    <div class="pull-right">
                        <a href="" ng-click="checkoutPayment.changeBillingAddress(base.currentOrder)">Change</a>
                    </div>
                    <p ng-bind-html="checkout.billingAddress | address:'full'"></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" hl-sticky anchor="top" offset-top="70" media-query="min-width: 992px">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Billing To
                    </h3>
                </div>
                <div class="panel-body">
                     <h5>Donation Account: 
						<span ng-if = "base.availableFunds - (base.currentOrder.Total + ((base.currentOrder.Subtotal * checkout.shippingAddress.xp.Taxcost))) > 0" >
							({{base.availableFunds - (base.currentOrder.Total + ((base.currentOrder.Subtotal * checkout.shippingAddress.xp.Taxcost))) | currency}}  left)
						</span> 
						<span ng-if = "base.availableFunds - (base.currentOrder.Total + ((base.currentOrder.Subtotal * checkout.shippingAddress.xp.Taxcost))) <= 0" >
							({{0 | currency}} left)
						</span>
						<b class="pull-right text-primary">{{base.availableFunds | currency}}</b>
					</h5>
                    <hr>
                    <h5>Balance Due:
						<b class="pull-right text-primary">
							<span ng-if = "base.availableFunds - (base.currentOrder.Total + ((base.currentOrder.Subtotal * checkout.shippingAddress.xp.Taxcost))) > 0" > {{0 | currency}}  </span>
							<span ng-if = "base.availableFunds - (base.currentOrder.Total + ((base.currentOrder.Subtotal * checkout.shippingAddress.xp.Taxcost))) <= 0" > {{(base.currentOrder.Total + ((base.currentOrder.Subtotal * checkout.shippingAddress.xp.Taxcost))) - base.availableFunds | currency}} </span>
						</b>
					</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" hl-sticky anchor="top" offset-top="70" media-query="min-width: 992px">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Order Summary
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                    	<b>
	                         <ng-pluralize count="base.currentOrder.LineItemCount" when="{
								'1': 'Checking Out With 1 Item',
								'other': 'Checking Out With {} Items'
							}"></ng-pluralize>
						</b>
                    </p>
                    <hr>
                    <h5>Subtotal: All Orders <span class="pull-right">{{base.currentOrder.Subtotal | currency}}</span></h5>
                	<h5>Shipping: All Orders <span class="pull-right">{{base.currentOrder.ShippingCost | currency}}</span></h5>  
             	    <h5>Processing Fee: All Orders <span class="pull-right">{{((base.currentOrder.Subtotal * checkout.shippingAddress.xp.Taxcost)) | currency}}</span></h5>  
                    <hr>
                    <h4>Estimated Total: <b class="pull-right text-primary">{{base.currentOrder.Subtotal + base.currentOrder.ShippingCost + (base.currentOrder.Subtotal * checkout.shippingAddress.xp.Taxcost) | currency}}</b></h4>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary form-control" ng-disabled="OC_Checkout_Payment.$invalid" ui-sref="checkout.review">Review Order</button>
                </div>
            </div>
        </div>
    </div>
</div>