<article>
	<div class="panel panel-default">
		<div class="panel-body">
    <h3>
        <div class="pull-right">
            <ordercloud-favorite-order current-user="base.currentUser" order="myOrderDetail.order"></ordercloud-favorite-order>
            <button ng-if="myOrderDetail.canCancel" ng-click="myOrderDetail.cancelOrder(myOrderDetail.order.ID)" class="btn btn-default"><span class="text-danger">Cancel Order</span></button>
            <ordercloud-repeat-order original-order-id="myOrderDetail.order.ID" current-order-id="base.currentOrder.ID"></ordercloud-repeat-order>
        </div>
        <button ui-sref="^" class="btn btn-default"><i class="fa fa-arrow-left"></i></button>
        <b>Order ID:</b> {{myOrderDetail.order.ID}}
    </h3>
    	</div>
    </div>
    <div class="panel panel-default">
		<div class="panel-body">    
    <div class="row">
        <div class="col-sm-7">
	      <div class="panel panel-default">
		   <div class="panel-body">
            <h5>Date Submitted: <span class="pull-right">{{myOrderDetail.order.DateSubmitted | date:'short'}}</span></h5>
            <h5>Subtotal: <span class="pull-right">{{myOrderDetail.order.Subtotal | currency}}</span></h5>
            <h5 ng-if="myOrderDetail.order.ShippingCost" class="text-muted">Shipping: <span class="pull-right"> + {{myOrderDetail.order.ShippingCost | currency}}</span></h5>
            <h5 ng-if="myOrderDetail.order.TaxCost" class="text-muted">Tax: <span class="pull-right"> + {{myOrderDetail.order.TaxCost | currency}}</span></h5>
            <h5 ng-repeat="promotion in myOrderDetail.promotions" class="text-danger">
                {{promotion.Code}}
                <span class="pull-right">- {{promotion.Amount | currency}}</span></h5>
            <hr>
            <h4>Total: <b class="pull-right text-primary">{{myOrderDetail.order.Total | currency}}</b></h4>
            <hr>
            <h4>
                <ng-pluralize count="myOrderDetail.paymentList.length"
                              when="{
                          '1': 'Payment',
                          'other': '{} Payments'
                      }"></ng-pluralize>
            </h4>
            <hr>
            <div ng-repeat="payment in myOrderDetail.paymentList">
                <p>{{payment.Type | humanize}} <b class="pull-right text-primary">{{payment.Amount | currency}}</b></p>

                <p ng-if="payment.xp.PONumber"><b>PO#:</b> {{payment.xp.PONumber}}</p>

                <p ng-if="payment.Type == 'CreditCard'">
                    <i style="font-size:1.3em;" class="fa {{payment.Details.CardType | faCreditCard}} pull-left"></i>
                    <span class="text-muted">XXXX-XXXX-XXXX-</span>{{payment.Details.PartialAccountNumber}}
                </p>

                <p ng-if="payment.Type == 'SpendingAccount'">
                    {{payment.Details.Name}} <br>
                    <small><span class="text-muted">Remaining Balance:</span> {{payment.Details.Balance | currency}}</small>
                </p>
                <hr ng-if="!$last">
            </div>
            </div>
            </div>
        </div>
        <div class="col-sm-5">
            <h5>Delivery Address</h5>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p ng-bind-html="myOrderDetail.list.Items[0].ShippingAddress | address:'full'"></p>
                </div>
            </div>
            <h5>Billing Address</h5>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p ng-bind-html="myOrderDetail.order.BillingAddress | address:'full'"></p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <hr>
	    <div class="panel panel-default">
			<div class="panel-body">
			    <h4>
			        <ng-pluralize count="myOrderDetail.order.LineItemCount"
			                      when="{
										'1': '1 Line Item',
										'other': '{} Line Items'
									}"></ng-pluralize>
			    </h4>
	    	</div>
	    </div>
    <div class="panel panel-default"> 
			<div class="panel-heading">
				<h3 class="panel-title">
					Items in Your Cart
				</h3>
			</div>
			<form name="OrderLineItemForm" class="panel panel-default" cg-busy="myOrderDetail.lineLoading[$index]"
			 ng-repeat="(vendorName, lineItemsList) in myOrderDetail.vendorLineItemsMap"
				style="margin-left: 1.5px; margin-right: 1.5px" >
				<div class="panel panel-default" > 
					 <div class="panel-heading">
						<h4 class="panel-title"><b>
						{{vendorName}} :: Order # <i class="orderId"></i>
	               	    </b></h4>
					 </div>
		        </div>
			<div class="row  hidden-xs c-line-item__header">
				<div class="col-xs-3 col-sm-2"></div>
					<div class="col-xs-9 col-sm-10">
						<div class="row">
							<div class="col-sm-5 col-lg-6"><h6>Description</h6></div>
								<div class="col-sm-7 col-lg-6">
									<div class="row">
										<div class="col-xs-3"><h6 class="text-right">Price</h6></div>
										<div class="col-xs-4"><h6 class="text-center">Qty</h6></div>
										<div class="col-xs-3"><h6 class="text-right">Total</h6></div>
									</div>
								</div>
						</div>
					</div>
			<div class="col-xs-12">
			<hr>
			</div><hr>
			</div>
			<div class="row c-line-item" ng-repeat="lineItem in lineItemsList"  cg-busy="myOrderDetail.lineLoading[$index]" style="margin-left: 1.5px; margin-right: 1.5px" >
			<div class="col-xs-3 col-sm-2">
				<div class="thumbnail c-line-item__img">
					<img class="img-responsive" ng-src="{{lineItem.Product.xp.image.URL || 'http://placehold.it/100x100?text=' + lineItem.Product.Name}}"
					alt="{{lineItem.Product.xp.image.Name || 'Product Image'}}">
				</div>
			</div>
		<div class="col-xs-9 col-sm-10">
			<div class="row c-line-item__info c-line-item--centered">
				<div class="col-sm-5 col-lg-6 c-line-item__info--top">
					<h4 class="c-line-item__name">
						{{lineItem.Product.Name}}
					</h4>
					<small class="text-muted c-line-item__id">{{lineItem.Product.Description}}</small>
						<ul class="c-line-item__spec-list" ng-if="lineItem.Specs.length > 0">
							<li class="c-line-item__spec" ng-repeat="spec in lineItem.Specs">
								<small>{{spec.Name}}:</small>
								<small>{{spec.Value}}</small>
							</li>
						</ul>
				</div>
				<div class="col-sm-7 col-lg-6 c-line-item__info--bottom">
					<div class="row  c-line-item--centered">
						<div class="col-xs-3">
							<h4 class="c-line-item__price text-right">{{lineItem.UnitPrice | currency}}</h4>
						</div>
					<div class="col-xs-4 text-center">
						<h4 class="c-line-item__qty-display ">
							{{lineItem.Quantity}}
						</h4>
						<small class="help-block" ng-if="lineItem.Product.QuantityMultiplier > 1">
							{{'x ' + lineItem.Product.QuantityMultiplier + (lineItem.Quantity ? (' (' + (lineItem.Quantity * lineItem.Product.QuantityMultiplier) + ')') : '')}}
						</small>
					</div>
					<div class="col-xs-3">
						<h4 class="c-line-item__total text-right">{{lineItem.LineTotal | currency}}</h4>
					</div>
					</div>
				</div>
			</div>
		</div>
					<div class="col-xs-12">
						<hr>
					</div>
				</div><br>
				<div class="row text-right">
						<h4>Subtotal:<span style="margin-left: 150px; margin-right:100px">{{myOrderDetail.getSubTotal(lineItemsList) | currency}}</span></h4>	 							
						<h4>Shipping: <span style="margin-left: 150px; margin-right:100px">{{base.currentOrder.ShippingCost | currency}}</span></h4>
						<h4>Processing Fee: 
							<span style="margin-left: 150px; margin-right:100px" ng-if="myOrderDetail.shippingAddress.xp.Taxcost > 0" >{{ ((myOrderDetail.getSubTotal(lineItemsList) * myOrderDetail.shippingAddress.xp.Taxcost)/100) | currency}}</span>
							<span style="margin-left: 150px; margin-right:100px" ng-if="!myOrderDetail.shippingAddress.xp.Taxcost">{{0.00 | currency}}</span>
						</h4>
						<h4>Total - Order # <i class="orderId">{{lineItem.ID}}</i>
							<span style="margin-left: 130px; margin-right:100px" ng-if="myOrderDetail.shippingAddress.xp.Taxcost > 0">
								{{myOrderDetail.getSubTotal(lineItemsList) 
								+ base.currentOrder.ShippingCost 
								+ ((myOrderDetail.getSubTotal(lineItemsList) 
								* myOrderDetail.shippingAddress.xp.Taxcost)/100) | currency}}
							</span>
							<span style="margin-left: 130px; margin-right:100px" ng-if="!myOrderDetail.shippingAddress.xp.Taxcost">
								{{myOrderDetail.getSubTotal(lineItemsList) 
								+ base.currentOrder.ShippingCost | currency}}
							</span>
						</h4>
					</div>
					<br>
					</form>
			</div>
</article>